
html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
	display: flex;
}

.toggle-menu-editor{
	position: absolute;
	right: 20px;
	top: 20px;
}

.panel{	
	position: relative;
	padding: 20px;
	height: 100%;
}

.menu{
	flex-basis: 100%;
}

.menu-editor{
	flex-basis: 100%;
	background-color: lightgray;
	
	min-height: 100vh;


}

.item-editor-container{	
	margin-bottom: 10px;
}

.toggle-item-state{
	margin: 8px 0;
}

.item-editor-label{
	display: block;
}

.item-editor-textarea{
	width: 100%;
}

.menu-item{
	padding: 13px;
	border-bottom: 1px solid lightgray;
	margin:0;
}